<form [formGroup]="formProy">
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="nombreIns">Nombre Institución</label>
          <input type="text" class="form-control" formControlName="nombreIns" id="nombreIns">
        </div>
      <div class="form-group">
            <label for="domicilioIns">Domicilio completo</label>
            <input type="text" formControlName="domicilioIns" class="form-control" id="domicilioIns" placeholder="1234 Calle">
      </div>
        <div class="form-group col-md-6">
          <label for="correoIns">Correo Electronico</label>
          <input type="email" formControlName="correoIns" class="form-control" id="correoIns" placeholder="email@gmail.com">
        </div>
      

        <div class="form-group">
            <label for="telefonoIns">Telefono de la institucion</label>
            <input type="number" formControlName="telefonoIns" class="form-control" id="telefonoIns" placeholder="03513269447">
        </div>
    </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="nombreRef">Nombre referente</label>
          <input type="text" formControlName="nombreRef" class="form-control" id="nombreRef">
        </div>
      <div class="form-group">
            <label for="domicilioRef">Domicilio completo</label>
            <input type="text" formControlName="domicilioRef" class="form-control" id="domicilioRef" placeholder="1234 Calle">
      </div>
        <div class="form-group col-md-6">
          <label for="correoRef">Correo Electronico</label>
          <input type="email" formControlName="correoRef" class="form-control" id="correoRef" placeholder="email@gmail.com">
        </div>
     
            <div class="form-group">
                <label for="telefonoRef">Telefono del referente</label>
                <input type="number" formControlName="telefonoRef" class="form-control" id="telefonoRef" placeholder="03513269447">
            </div>
     </div>
    <div class="form-row">        
        <div class="form-group">
                <label for="dniRef">DNI referente</label>
                <input type="number" formControlName="dniRef" class="form-control" id="dniRef" placeholder="30645159">
            </div>
    
      
        <div class="form-group col-md-6">
          <label for="nombreVend">Nombre completo del vendedor</label>
          <input type="text" formControlName="nombreVend" class="form-control" id="nombreVend">
          
        </div>
        <div class="form-inline col-md-2">
            <button class="btn btn-primary" (click)="agregar(formProy.controls['nombreVend'].value,'vendedores')">Agregar</button>
          </div>
    

    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
          <table class="table table-bordered" *ngIf="vendedores.length > 0">
            <thead>
                <tr>
                    <th>Vendedor</th>
                    <th>Borrar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let vendedor of vendedores; let i = index;">
                    <td>{{vendedor}}</td>
                    <td><button class="btn btn-danger" (click)="borrar(i,'vendedores')">Borrar</button></td>
                </tr>
            </tbody>
          </table>
        </div>
        <div class="form-group col-md-4">
            <label for="tipoConvocatoria">Tipo de convocatoria</label>
            <select id="tipoConvocatoria" formControlName="tipoConvocatoria" class="form-control">
              <option selected>INDIVIDUAL</option>
              <option>COLECTIVO</option>
            </select>
          </div>
      </div>
    <div class="form-row">
        <div class="form-group col-md-8">
            <label for="objetivoConv">Objetivo de la convocatoria</label>
            <textarea class="form-control" formControlName="objetivoConv" id="objetivoConv" rows="3"></textarea>
        </div>
        <div class="form-group col-md-3">
            <label for="importe">Importe</label>
            <input type="number" formControlName="importe" class="form-control" id="importe" placeholder="30645159">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="fechaLimite">Fecha de inicio</label>
            <input type="date" formControlName="fechaLimite" class="form-control" id="fechaLimite">
      </div>
      <div class="form-group col-md-4">
        <label for="lugarEntrega">Lugar de entrega</label>
        <input type="text" formControlName="lugarEntrega" class="form-control" id="lugarEntrega" placeholder="1234 Calle">
      </div>    
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="colaborador">Colaborador que interviene</label>
            <select id="colaborador" formControlName="colaborador" class="form-control">
              <option *ngFor="let colaborador of colaboradores" value="{{colaborador.id}}">{{colaborador.realm}}</option>
            </select>
            
          </div>
          <div class="form-group col-md-4">
            <label for="combosHab">Combos habilitados</label>
            <select id="combosHab" formControlName="combosHab" class="form-control">
                <option selected>Elegir</option>
              <option *ngFor="let combo of combosOpc" value="{{combo.id}}">{{combo.name}}</option>
            </select>
            
          </div>
          <div class="form-inline col-md-2">
          <button class="btn btn-primary" (click)="agregar(formProy.controls['combosHab'].value,'combos')">Agregar</button>
        </div>
          <div class="form-group col-md-8" *ngIf="combos.length > 0">
            <table class="table table-bordered">
              <thead>
                  <tr>
                      <th>Combo</th>
                      <th>Borrar</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let combo of combos; let i = index;">
                      <td>{{combo.name}}</td>
                      <td><button class="btn btn-danger" (click)="borrar(i,'combos')">Borrar</button></td>
                  </tr>
              </tbody>
            </table>
          </div>
    </div>
    <div class="form-row">
        <div class="form-group">
            <label for="fechaHoraCierre">Fecha y hora de cierre de carga de ventas</label>
            <input type="datetime-local" formControlName="fechaHoraCierre" class="form-control" id="fechaHoraCierre">
          </div>
    </div>
</form>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="cancelar(formProy)" data-dismiss="modal">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="guardar(formProy)" data-dismiss="modal">Crear</button>
  </div>