<div class="container-fluid">
    <h1>Calendario de entregas</h1>
    <hr>
    <div *ngIf="mensaje == 'El proyecto se creo con exito' ">
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Felicitaciones!!</strong> {{mensaje}}.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div *ngIf="mensaje == 'No se pudo crear el proyecto, verifique sus datos' ">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Error!!</strong> {{mensaje}}.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregar">Agregar evento</button>
    <full-calendar id="calendario1" deepChangeDetection="true"  name="calendario1" [options]="calendar"></full-calendar>
    <div class="text-right">
        <br>
        <button class="btn btn-primary btn-md" data-toggle="modal" data-target="#gestProyecto" style="background-color: #37c7fb; border: #37c7fb;">Nuevo proyecto</button>
    </div>

    <div class="modal fade" id="agregar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Agregar evento</h5>
              <button type="button" class="close" data-dismiss="modal" (click)="cancelar()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" [formGroup]="form">
              <label for="date">Fecha</label>
              <input class="m-1 col-5" type="date" name="date" formControlName="date" id="date">
              <label for="title">Titulo</label>
              <input class="m-1 col-6" type="text" name="title" formControlName="title" id="title">
              <label for="description">Descripcion</label>
              <textarea class="m-1 col-11" type="text" name="description" formControlName="description" id="description"></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelar()" >Cancelar</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="agregarEvento(form)">Guardar</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="modificar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modificar</h5>
              <button type="button" class="close" data-dismiss="modal" (click)="cancelar()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" [formGroup]="form">
              <input class="m-1 col-4" type="date" name="date" formControlName="date" id="date">
              <input class="m-1 col-7" type="text" name="title" formControlName="title" id="title">
              <textarea class="m-1 col-11" type="text" name="description" formControlName="description" id="description"></textarea>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="borrar(form.value)">borrar</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal"  (click)="modificar(form)">Modificar</button>
            </div>
          </div>
        </div>
      </div>
</div>

<div class="modal fade" id="gestProyecto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fa-pull-right" id="exampleModalLabel">Crear proyecto</h5>
        
      </div>
      <div class="modal-body">
        <app-gest-proyectos (mensajeEvent)="recibir($event)"></app-gest-proyectos>
      </div>

    </div>
  </div>
</div>
