<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
	xmlns:o="urn:schemas-microsoft-com:office:office">
	<head>
	</head>
	<body>
		<center>
			<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
				<tr>
					<td align="center" valign="top" id="bodyCell">
            <table style="min-width:100%;" width="100%" cellspacing="0" cellpadding="0"
              border="0">
              <tbody>
                <tr>
                  <td style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;"
                    valign="top">
                    <h3>Hola <%=realm%>.</h3>
                    <p><span style="color:#000000"><span style="font-size:14px">Se registro su usuario colaborador en Tutti.
                      los datos de ingreso al mismo son:</span></span></p>
                    <p>Usuario colaborador:</p>
                    <p>Usuario: <%=username%></p>
                    <p>Password: <%=password%></p>
                    <p><br><span style="color:#000000"><span style="font-size:14px">El equipo de
                          Tutti Con Vos.</span></span><br>
                    <p><br><span style="color:rgb(120, 120, 120)"><span style="font-size:12px" align="left">
                        <i><br>-- Este es un mensaje generado automáticamente, por favor no responda. --</i></span></span></p>
                  </td>
                </tr>
              </tbody>
            </table>
					</td>
				</tr>
			</table>
		</center>
	</body>
</html>